.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header .logo {
  font-family: "Anton", sans-serif;
  font-size: 1.1rem;
}

.header .date{
  font-size: 0.8rem;
}

.header h1{
  margin: 0;
}

.client-info {
  display: flex;
  flex-direction: column;
}

.info-block {
  display: flex;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.info-block .uppercase{
  text-transform: uppercase;
}

.service-quote{
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.tags {
  min-width: 9rem;
}

.total {
  color: red;
}

.obs{
  text-align: justify;
}

.obs p{
  font-size: 0.9rem;
}

.obs span{
  font-size: 0.8rem;
  
}

.status {
  text-align: center;
}
.status label {
  color: black;
  font-size: 0.8rem;
}

.status select {
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: white;
  border: none;
}

.status option {
  font-size: 0.6rem;
}

.actions {
  width: 50%;
  margin: 2rem auto;
}

.button-container{
  margin-bottom: 0.5rem;
}