.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.logo h1 {
  font-size: 2.7rem;
  font-family: "Anton", sans-serif;
}

.form-control label {
  font-size: 0.6rem;
}

.form-control input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(164, 171, 179);
  font-size: 0.6rem;
  display: block;
  margin-bottom: 1rem;
}

.form-control label {
  color: var(--error-color);
  font-size: 0.7rem;
  font-weight: 600;
}

.form-control input:focus {
  outline: none;
}

.change-page-link p {
  margin-top: 0.6rem;
  text-align: center;
  font-size: 0.6rem;
  color: var(--main-color);
  font-weight: 600;
}
