.user-menu{
    text-align: center;
}

.user-menu-item{
    margin: 1rem auto;
    width: 4.8rem;
    background-color: transparent;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    padding: 0.2rem;
     text-decoration: none;
    color: var(--main-color);
}

.user-menu-item a{
    text-decoration: none;
    color: var(--main-color);
    
 
}

.user-menu-item p{
    margin: 0.3rem 0 0 0;
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--main-color);
}