.first-row {
    display: flex;
    border-bottom: 1px solid rgb(192, 192, 192);
    height: max-content;
    align-items: center;
  }
  
  .id-control {
    width: 100%;
    border-right: 1px solid rgb(192, 192, 192);
  }
  
  .id-control p {
    font-size: 0.6rem;
    margin: 0;
  }
  
  .id-control h1 {
    margin: 0;
  }
  
  .plates-control {
    width: 100%;
    margin-left: 0.3rem;
  }
  
  .plates-control input {
    width: 90%;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    
  }
  
  .plates-control input::placeholder {
    text-transform: lowercase;
    text-transform: capitalize;
  }