.services-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.services-list p{
    text-transform: capitalize;
    font-size: 0.8rem;
}

